html, body, #app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex; /* Por padrão, o display flex alinha horizontalmente os seus "filhos", propriedade flex-direction */
  flex-direction: row; /* padrão = row */
  align-items: center; /* padrão = flex-start */
  justify-content: center; /* padrão = flex-start */
  /* Caso o valor do flex-direction seja row, o align-items servirá para alinhar verticalmente, e o
  justify-content, horizontalmente.
  */
  /* Caso o valor do flex-direction seja column, o align-items servirá para alinhar horizontalmente, é sempre o
  do sentido do flex-direction, já o justify-content, alinha no mesmo eixo do flex-direction.
  */
}

.box {
  width: 60px;
  height: 60px;
  background: #f00;
  margin: 5px;
  flex-grow: 1; /* Permite controlar se o componente pode ser redimensionado, tanto para maior, quanto para
  menor. Nessa propriedade, estamos dizendo que nosso elemento aceita ser aumentado para caber no elemnto pai
  que é o #app
  */
  flex-shrink: 1; /* Diz se o componente tem a capacidade de se espremer no container pai, por default ele
  é 1, por isso da aquela sensação de responsividade.
  */
  flex: 1 0; /* flex-grow + flex-shrink / por padrão, pessoal deixa flex: 1, para comprimir e estender, caso
  necessário.
  */
}