#app {
  display: flex; /* Por padrão, o display flex alinha horizontalmente os seus "filhos" */
  flex-direction: row; /* padrão = row */
}

.box {
  width: 60px;
  height: 60px;
  background: #f00;
  margin: 5px;
}